/************* Tag Selectors /**************/

body {
    background-color: #080808;
    text-align: center;
    /* margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px; */
}

h1 {
    /* margin-top: 0px;
    margin-bottom: 0px; */
    /* font-size: 110px; */
    font-size: 10em;
    font-weight: bolder;
    color: #ba100a;
    margin: 0 auto 0 auto;
    position: relative;
    z-index: 1;
    /* font-family: 'Rubik 80s Fade', cursive;*/
    /* Embedding fonts from google apis */
    font-family: 'Pirata One', cursive;
}

h2 {
    /* color: #a1a693; */
    color: #faa300;
    font-size: 2em;
    font-weight: bolder;
    margin: 0 auto 0 auto;
    position: relative;
    z-index: 1;
    font-family: 'New Rocker', cursive;
}

h3 {
    color: #faa300;
    /* margin: 0 auto 0 auto; */
    text-align: justify;
    font-weight: lighter;
    position: relative;
    z-index: 1;
    /* font-family: 'New Rocker', cursive; */
}

ul {
    color: #30b1f9;
    font-size: 18px;
    text-align: justify;
    position: relative;
    z-index: 1;
}


/************* Class Selectors /**************/

.top-container {
    background-color: #080808;
    /* background-color: gray; */
    position: relative;
    height: 300px;
    padding: 5%;
}


.middle-container {
    font-family: 'Pirata One', cursive;
    font-size: 1.2em;
    color: #faa300;
    z-index: 1;
    background-color: #080808;
}

.bottom-container {
    background-color: #080808;
}

.dragon-right {
    position: absolute;
    /* margin: 10px 50%; */
    /* left: 0px; */
    top: 10%;
    width: 35%;
}

.dragon-left {
    position: absolute;
    left: 20%;
    bottom: 5%;
    width: 35%;
}

.ying-yang-centered {
    position: relative;
    left: 0;
    bottom: 45px;
    width: 35%;
}

.wizard-right {
    position: absolute;
    right: -80px;
    top: 1300px;
    width: 15%;
}

.death-left {
    position: absolute;
    left: -100px;
    top: 800px;
    width: 15%;
}

.elf-center {
    background-image: url("ElfCenter.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    /* right: 55px; */
    margin: 0px auto 0px auto;
    /* right: 80px; */
    bottom: 900px;
    width: 60%;
    position: relative;
}

.skill-row {
    text-align: left;
    /* color: #a5b2c1; */
    color: #30b1f9;
}
